header{
    margin-bottom: 37px;
}

header .container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

header .container nav{
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 30px;
}

header .container .logo{
    height: 10vh;
    padding-left: 30px;
}

header .container nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

header .container nav ul a{
    color: var(--gray-1);
    transition: color .3s;
    font-size: 5vh;
}

header .container nav ul a:hover{
    color: var(--gray-4);
}